@charset "UTF-8";

body {
    background-color: rgb(255, 241, 208);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(197, 156, 109);
    text-decoration: underline;
}

h1#principal {
    text-align: center;
    background-color: rgb(197, 156, 109);
    color: white;
    width: 400px;
    padding: 5px;
    margin: auto;
    border-radius: 5px;
    text-decoration: none;
}

h2 {
    color: rgb(151, 127, 86);
}

.basico {
    color: rgb(94, 151, 86);
}

.avancado {
    color: rgb(151, 86, 86);
}