@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

:root {
    --fonte-destaque: 'Passion One', cursive;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: black url(../images/fundo-madeira.jpg) center center no-repeat fixed;
    background-size: cover;
}

main > h1 {
    font-family: var(--fonte-destaque);
    font-variant: small-caps;
    color: white;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    font-size: 3em;
    padding: 0px;
    margin-top: 30px;
}

main > p {
    font-family: var(--fonte-destaque);
    color: white;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    font-size: 2em;
}

section#phone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    
    height: 627px;
    width: 311px;
    background: blue url(../images/frame-iphone.png) no-repeat;
}

iframe#visual-phone {
    background-color: red;
    position: absolute;
    top: 80px;
    left: 22px;

    width: 267px;
    height: 472px;
}

nav img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}