@charset "UTF-8";

/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

:root {
  --fundo-principal: #8538B1;
  --destaque:  #9721DB;
  --destaque-inverso: ;
  --titulo: #503C5C;
  --texto-inverso: ;
  --fundo-card: #6D4186;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: var(--fundo-principal);
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}

nav > a {
  color: white;
  padding: 10px;
  text-decoration: none;
  transition: background-color 0.5s, color 0.5s;
  border-radius: 10px;
}

nav > a:hover {
  color: var(--fundo-card);
  background-color: var(--destaque);
}

main {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  
}

#ficha {
  grid-area: 1 / 2 / 2 / -2;
}

#ficha > #foto-perfil {
  background-image: url(../imagens/luvison-perfil.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 15px;
  border: 2px solid white;
  outline: 5px solid var(--destaque);
  box-shadow: 0px 0px 30px rgba(0,0,0,0.8);
}

#ficha > h1 {
  margin-bottom: 15px;
  color: var(--titulo);
  font-size: 2em;
}

#ficha > p {
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 15px;
}

#ficha > #social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 2em;
  margin-bottom: 50px;
}

#social-media > a > i {
  color: var(--titulo);
  transition: 0.3s ease;
}

#social-media > a > i:hover {
  color: var(--destaque);
}

#skills {
  grid-area: 2 / 2 / 3 / -2;
}

#skills > h2 {
  color: var(--titulo);
  margin-bottom: 15px;
}

#skill-container > .item {
  margin-bottom: 20px;
}

.item > .info {
  margin-bottom: 5px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

#skill-container > .item > .progresso {
  background-color: var(--destaque);
  height: 10px;
  border-radius: 5px;
}

#formacao {
  grid-area: 3 / 2 / 4 / -1;
}

#projetos {
  grid-area: 4 / 2 / 5 / -1;
}

footer {
  background-color: var(--fundo-principal);
  padding: 15px;
}

footer > p {
  color: white;
  text-align: center;
}

footer > p > a {
  color: white;
  text-decoration: none;
}

footer > p > a:hover {
  text-decoration: underline;
}
