@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: rgb(7, 7, 116);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: rgb(231, 233, 225);
    width: 300px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);

    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;
}

section#login > div#image {
    display: block;
    background: rgb(0, 0, 75) url(../images/pexels-sean-whang-25006-804269.jpg) no-repeat  center center;
    background-size: cover;
    height: 200px;
}

section#login > div#form {
    display: block;
    padding: 10px;
}

div#form > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#form > p {
    font-size: 0.8em;
    margin-bottom: 10px;
}

form > div.campo {
    background-color: rgb(0, 111, 185);
    display: block;
    color: white;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
}

form > div.campo > input {
    background-color: lightblue;
    padding: 5px;
    width: 88%;
    border: 0px;
    border-radius: 3px;
}

form > div > input[type=submit] {
    display: block;
    background-color: rgb(0, 153, 255);
    font-size: 1em;
    border: 0px;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

form > div > input[type=submit]:hover {
    background-color: rgb(0, 111, 185);
}

div#forget > a {
    display: block;
    background-color: white;
    font-size: 1em;
    border: 2px solid rgb(0, 153, 255);
    border-radius: 5px;
    padding-top: 7px;
    width: 100%;
    height: 40px;
    color: rgb(0, 153, 255);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

div#forget > a > span {
    font-size: 0.8em;
}

div#forget > a:hover {
    color: white;
    background-color: rgb(0, 153, 255);
}