@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > h1 > a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

#menu-btn {
    cursor: pointer;
    font-size: 2.5em;
}

#menu-btn:hover {
    border-radius: 50%;
    background-color: rgb(189, 189, 189);
}

nav.side-menu {
    display: flex;
    flex-flow: column;
    gap: 20px;
    position: fixed;
    top: 0px;
    right: -250px;
    width: 200px;
    height: 100%;
    background-color: rgb(78, 78, 78);
    transition: right 0.3s ease;
}

nav.side-menu.open {
    right: 0;
}

nav.side-menu > a {
    
    color: white;
    text-decoration: none;
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3 ease;
}

nav.side-menu > a:hover {
    background-color: #222;
}

nav.side-menu > span#close-menu-btn {
    align-self: flex-end;
    cursor: pointer;
    font-size: 2.5em;
    background-color: grey;
    padding: 10px;
    border-radius: 50%;
    margin: 10px 10px 0px 0px;
}

nav.side-menu > span#close-menu-btn:hover {
    background-color: #777;
}

main > section {
    display: flex;
    min-height: 100vh;
    flex-flow: column;
    
    align-items: center;
}

section > article {
    background-color: white;
    width: 80%;
    height: 200px;
    padding: 20px;
    border-radius: 5px;
}