@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
    margin: 0px;
}

header {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

nav {
    background-color: rgb(110, 110, 110);
    padding: 3px;
    border-radius: 2px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.37);
}

nav > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 50px;
}

.menu {
    display: inline-block;
    color: white;
    font-weight: bold;
}

#esportes {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgb(206, 206, 206);
    width: 100px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-top: 3px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.37);
    
}

#esportes > a {
    display: block;
    padding: 5px;
    background-color: rgb(110, 110, 110);
    margin: 5px;
    border-radius: 2px;
    text-decoration: none;
    color: white;
}

.menu:hover #esportes {
    display: block;
}

nav > a:hover {
    color: black;
    text-decoration: underline;
}

main {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

article {
    background-color: rgb(206, 206, 206);
    padding: 5px;
    border-radius: 2px;
    width: 300px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.37);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
    margin: 0px;
}